{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>Active Users</strong>
            </div>
            <ul id="active-users">
              {% for user in users %}
                  <li class="user"><a href="#{{ user.username }}">{{ user.username }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>List of chatrooms</strong>
            </div>
            <ul id="chat-rooms">
              {% for room in rooms %}
                {% if room.roomname %}
                  <li class="room"><a href="#{{ room.roomname }}">{{ room.roomname }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>Create chatroom</strong>
            </div>
            <div class="container-fluid">
          </div>
        </div>
        <div class="col-md-9">
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong><span class="glyphicon glyphicon-list"></span> Current chatroom: <span id="chatroom-name">MainRoom</strong>
            </div>
            <div class="panel-body fixed-panel">
              <ul class="media-list" id="chat">
              </ul>
            </div>
            <div class="panel-footer">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Message" id="messageText" autofocus/>
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button" id="sendMessage">SEND <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
                </span>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#submit').addClass('btn').addClass('btn-primary').css('margin-top', '1em');
    $('#roomname').addClass('form-control');
    var channel = "/chat";
    var socket = io.connect('http://' + document.domain + ':' + location.port + channel);
    var receivedMsg;

    socket.on('connect', function () {
      socket.emit('joined', { data: { room: 'General' } });
    });

    socket.on('status', function(data) {
      console.log(data);
      $('#chat').append('<li>' + data.msg + '\n');
    });
    
    socket.on('message', function(data) {
      receivedMsg = data;
      console.log(receivedMsg);
      console.log(receivedMsg.msg);
      $('#chat').append('<li>' + data.msg + '\n</li>');
    });

    socket.on('update_topics', function(data) {
      $('#chat-rooms').append('<li class="room"><a href="#' + titleCase(data.msg.room) + '">' + titleCase(data.msg.room) + '</a></li>');
    });
    
    $('#messageText').keypress(function(e) {
      var code = e.keyCode || e.which;
      if (code == 13) {
        text = $('#messageText').val();
        sendMessage();
        $('#messageText').val('');
      }
    });

    $("#sendMessage").on("click", function () {
        sendMessage();
    });

    $('#submit').on("click", function() {
      var name = $("#roomname").val();
      console.log(name);
      socket.emit('new_room', { data: { room: name } });
      clearMessages();
      socket.emit('left_room', {});
    });


    $('#chat-rooms').on( 'click', 'a', function () {
      var chatroom = $(this)[0].innerText;
      clearMessages();
      socket.emit('left_room', {});
      $('#chatroom-name').text(chatroom);
      socket.emit('joined', { data: { room: chatroom } });
    });

    function clearMessages() {
      $('.media-list li').detach();
    }

    function sendMessage() {
        $container = $('.media-list');
        $container[0].scrollTop = $container[0].scrollHeight;
        var text = $("#messageText").val();
        socket.emit('message', { data: { message: text } });
        $("#messageText").val("");
      }

      function titleCase(str) {
        str = str.toLowerCase().split(' ');
        for (var i = 0; i < str.length; i++) {
          str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); 
        }
        return str.join(' ');
      }
  });
  </script>

{% endblock %}