<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Login!</title>
</head>

<body>
    <form method="POST">
        Username:
        <br />
        <input type="text" name="username" id="send_email" />
        <br />
        Password:
        <br />
        <input type="password" maxlength="14" name="password" id="send_password" />
        <br />
        <br />
        <input name="send" id='sendbutton' type="submit" value="Login"/>
        <br />
    </form>
    <br />

</body>
</html>
